fastapi==0.100.0
pydantic==2.0.3
pydantic-settings==2.0.2
SQLAlchemy==2.0.19
asyncpg==0.28.0
backoff==2.2.1
orjson==3.9.2
alembic==1.11.1
psycopg2-binary==2.9.6
gunicorn==21.2.0
uvicorn[standard]==0.23.1
